<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  
    
  <ejs-datetimepicker id='datetimepicker' placeholder='Select a date' [value]='dateValue' [min]='minDate' [max]='maxDate' format ='yyyy.MM.dd HH:mm'></ejs-datetimepicker>
  <ejs-datetimepicker id='datetimepicker1' placeholder='Select a date' [value]='dateValue2' [min]='minDate' [max]='maxDate' format ='yyyy.MM.dd HH:mm'></ejs-datetimepicker>
  <canvas id ="pieChart"></canvas>
</div>


<router-outlet></router-outlet>
